In [2]:
import pandas as pd
import os
os.getcwd()

'/Users/michelle/Documents/Ironhack/Amsterdam_Project/ProjectAmsterdam'

In [18]:
# Important is that these are votes for the European Parlement, meaning this is not the City Council election of Amsterdam
# I will try to find more information about earlier (2002 / 2004) and later (2016 / 2018) but we can make a start with this
# we need to see it as a trend of people, age, and voting within the Netherlands
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#:~:text=Read%20a%20comma%2Dseparated%20values,online%20docs%20for%20IO%20Tools.
# great site for parameters

votes_ages_2006 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_22_11_2006_25102020_181450.csv', skiprows=2, sep=';')

votes_ages_2006.head()

,,,,,,,,Unnamed: 0,Onderwerp
NaN,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,Overige poilitieke partijen,Niet gestemd
Persoonskenmerken,%,%,%,%,%,%,%,%,%
Totaal persoonskenmerken,21,17,11,4,14,3,4,4,20
Mannen 18 jaar of ouder,21,17,12,3,13,2,5,4,21
Vrouwen 18 jaar of ouder,22,18,10,4,15,5,3,4,18

In [17]:
votes_ages_2010 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_2010.csv', skiprows=2, sep=';')

votes_ages_2010.head()

,,,,,,,,,Unnamed: 0,Onderwerp
NaN,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige politieke partijen,Niet gestemd
Persoonskenmerken,%,%,%,%,%,%,%,%,%,%
Totaal,10,15,16,5,7,2,12,5,3,25
Geslacht: mannen,8,15,18,4,6,2,13,6,3,26
Geslacht: vrouwen,12,14,13,6,9,3,11,5,3,24

In [45]:
votes_ages_2012 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_2012.csv', skiprows=2, sep=';')

votes_ages_2012.head()

,,,,,,,,,Unnamed: 0,Onderwerp
NaN,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige politieke partijen,Niet gestemd
Persoonskenmerken,%,%,%,%,%,%,%,%,%,%
Totaal persoonskenmerken,6,19,20,2,7,2,8,6,5,25
Geslacht: mannen,6,17,21,1,7,2,9,6,4,26
Geslacht: vrouwen,6,20,19,2,7,3,6,6,5,25

In [30]:
# time_spend_online_2018 = pd.read_csv('Tijdbesteding-media-2018.csv', sep=';')

# time_spend_online_2018

# # this are the minutes spend on each day on

In [24]:
time_online = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';', usecols=[0,1,2,3,30,31,32,33,34,35,36,37,38,39,44,45,46,53])


time_online.sort_values(by=['Perioden'], inplace=True)

time_online.set_index('Perioden').head()

,ID,KenmerkenPersonen,Marges,Chatten_27,WeblogsLezenOfZelfBijhouden_28,Totaal_29,TekstberichtenUitwisselen_30,SociaalNetwerk_31,ProfessioneelNetwerk_32,VersturenOntvangenEMails_33,TelefonerenViaInternet_34,PlaatsenMaatschappPolitiekeMening_35,DeelnemenMaatschappOnlineDiscussies_36,LuisterenNaarRadio_41,KijkenNaarTelevisie_42,KrantenNieuwsbladenLezenDownloaden_43,ZoekenOpWebsites_50
Perioden,,,,,,,,,,,,,,,,,
2012JJ00,24,3000,MW00000,29.3,21.3,59.4,33.4,47.0,23.4,86.2,26.5,NaN,NaN,42.1,41.2,55.1,61.2
2012JJ00,432,53210,MW00000,49.5,39.0,97.0,62.4,86.9,27.4,97.1,36.7,NaN,NaN,60.1,58.6,61.4,75.3
2012JJ00,296,53900,MOG0095,10.9,11.2,33.1,13.2,22.8,11.1,77.6,16.8,NaN,NaN,19.1,27.8,41.4,50.2
2012JJ00,64,4000,MBG0095,24.5,17.8,57.6,29.0,51.2,16.1,82.5,22.1,NaN,NaN,29.1,38.9,47.2,51.3
2012JJ00,304,53900,MBG0095,16.0,16.3,40.0,18.5,29.2,16.3,83.3,22.5,NaN,NaN,25.2,34.3,48.5,57.3

In [27]:
time_online_1 = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';', usecols=[0,1,2,3,12,13,14,15,16,17,18])

time_online_1.sort_values(by=['Perioden'], inplace=True)

time_online_1.set_index('Perioden').head()

# I'm not sure if I understand Searching on websites, because in the dataframe there were 3 different columns 
# with this name, but different values

,ID,KenmerkenPersonen,Marges,MinderDan3MaandenGeleden_9,k_3Tot12MaandenGeleden_10,MeerDan12MaandenGeleden_11,NooitInternetGebruikt_12,BijnaElkeDag_13,MinstensEenKeerPerWeek_14,MinderDanEenKeerPerWeek_15
Perioden,,,,,,,,,,
2012JJ00,24,3000,MW00000,91.5,0.5,1.0,7.0,80.8,9.2,1.2
2012JJ00,432,53210,MW00000,99.6,NaN,NaN,NaN,95.5,4.1,NaN
2012JJ00,296,53900,MOG0095,84.1,0.4,1.1,7.7,65.0,12.7,1.3
2012JJ00,64,4000,MBG0095,86.7,1.2,1.2,14.4,73.5,12.4,2.3
2012JJ00,304,53900,MBG0095,89.0,2.3,3.1,12.1,71.5,17.5,3.3

In [ ]:
time_online_3 = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';', usecols=[0,1,2,3,12,13,14,15,16,17,18])

time_online_3.sort_values(by=['Perioden'], inplace=True)

time_online_3.set_index('Perioden').head()

In [29]:
time_online_2 = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';', usecols=[0,1,2,3,4,6,7,8,9,11,25,26,27,28,29])

time_online_2.sort_values(by=['Perioden'], inplace=True)

time_online_2.set_index('Perioden').head()

,ID,KenmerkenPersonen,Marges,ToegangTotInternet_1,PersonalComputerPCOfDesktop_3,LaptopOfNetbook_4,Tablet_5,MobieleTelefoonOfSmartphone_6,SmartTVOfTVMetSetTopBox_8,MobieleTelefoonOfSmartPhone_22,Laptop_23,Tablet_24,AndereMobieleApparatuur_25,Totaal_26
Perioden,,,,,,,,,,,,,,
2012JJ00,24,3000,MW00000,93.7,75.4,75.4,NaN,60.9,22.5,45.3,34.8,18.9,NaN,64.1
2012JJ00,432,53210,MW00000,99.6,80.2,91.8,NaN,90.4,24.9,85.1,58.7,28.1,NaN,97.7
2012JJ00,296,53900,MOG0095,90.4,69.2,64.2,NaN,31.7,12.4,15.5,17.8,8.6,NaN,39.7
2012JJ00,64,4000,MBG0095,90.6,67.8,73.5,NaN,54.5,18.7,37.7,25.7,14.9,NaN,61.1
2012JJ00,304,53900,MBG0095,94.4,75.7,70.9,NaN,38.5,17.4,21.2,23.7,13.0,NaN,46.8

In [69]:
use_of_devices_amsterdam = pd.read_csv('Use of Devices 2012 - 2018.csv', sep=';', na_filter=False, usecols=[0,1,2,3])

# use_of_devices_amsterdam = pd.read_csv('Use of Devices 2012 - 2018.csv', sep=';', keep_default_na=False)

use_of_devices_amsterdam

,"8.8.2 Amsterdammers van 18 jaar en ouder met een tablet, laptop of vaste pc in het huishouden naar leeftijdsgroepen,",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,2012-2018 (procenten),,,
1,,,,
2,,tablet,laptop,vaste pc
3,,,,
4,2018,,,
5,18-24 jaar,54,92,49
6,25-34 jaar,56,93,36
7,35-54 jaar,71,89,52
8,55 jaar en ouder,54,66,52
9,,,,
10,Amsterdam 2018,61,84,47
11,Amsterdam 2016,62,84,48
12,Amsterdam 2014,52,75,51
13,Amsterdam 2012,32,74,54
14,,,,
15,,,,bron: OIS/De Staat van de Stad Amsterdam