In [66]:
import pandas as pd
import os
os.getcwd()

'/Users/iswetha/ironhack/amsterdam_project/ProjectAmsterdam'

In [78]:
# Important is that these are votes for the European Parlement, meaning this is not the City Council election of Amsterdam
# I will try to find more information about earlier (2002 / 2004) and later (2016 / 2018) but we can make a start with this
# we need to see it as a trend of people, age, and voting within the Netherlands
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#:~:text=Read%20a%20comma%2Dseparated%20values,online%20docs%20for%20IO%20Tools.
# great site for parameters
colnames = ['Characterstics', 'CDA', 'PvdA', 'VVD', 'GroenLinks', 'SP', 'ChristenUnie', 'PVV', 'Overige poilitieke partijen', 'Niet gestemd']
votes_ages_2006 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_22_11_2006_25102020_181450.csv', skiprows=5, names = colnames, sep=';')
votes_ages_2006['D66'] = 0
colnames1 = ['Characterstics', 'CDA', 'PvdA', 'VVD', 'GroenLinks', 'SP', 'ChristenUnie', 'PVV','D66', 'Overige poilitieke partijen', 'Niet gestemd']
votes_ages_2006 = votes_ages_2006.reindex(columns = colnames1)
votes_ages_2006.head()

,Characterstics,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige poilitieke partijen,Niet gestemd
0,Totaal persoonskenmerken,21.0,17.0,11.0,4.0,14.0,3.0,4.0,0,4.0,20.0
1,Mannen 18 jaar of ouder,21.0,17.0,12.0,3.0,13.0,2.0,5.0,0,4.0,21.0
2,Vrouwen 18 jaar of ouder,22.0,18.0,10.0,4.0,15.0,5.0,3.0,0,4.0,18.0
3,18 tot 25 jaar,17.0,15.0,11.0,5.0,12.0,3.0,6.0,0,3.0,29.0
4,25 tot 35 jaar,14.0,11.0,10.0,4.0,16.0,3.0,4.0,0,4.0,32.0

In [79]:
colnames1 = ['Characterstics', 'CDA', 'PvdA', 'VVD', 'GroenLinks', 'SP', 'ChristenUnie', 'PVV','D66', 'Overige poilitieke partijen', 'Niet gestemd']

votes_ages_2010 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_2010.csv', skiprows=5, names = colnames1, sep=';')

votes_ages_2010.head()

,Characterstics,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige poilitieke partijen,Niet gestemd
0,Totaal,10.0,15.0,16.0,5.0,7.0,2.0,12.0,5.0,3.0,25.0
1,Geslacht: mannen,8.0,15.0,18.0,4.0,6.0,2.0,13.0,6.0,3.0,26.0
2,Geslacht: vrouwen,12.0,14.0,13.0,6.0,9.0,3.0,11.0,5.0,3.0,24.0
3,Leeftijd: 18 tot 25 jaar,6.0,8.0,10.0,4.0,6.0,2.0,13.0,5.0,3.0,41.0
4,Leeftijd: 25 tot 35 jaar,7.0,15.0,21.0,6.0,4.0,4.0,10.0,4.0,3.0,26.0

In [80]:
colnames1 = ['Characterstics', 'CDA', 'PvdA', 'VVD', 'GroenLinks', 'SP', 'ChristenUnie', 'PVV','D66', 'Overige poilitieke partijen', 'Niet gestemd']

votes_ages_2012 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_2012.csv', skiprows=5, names = colnames1, sep=';')

votes_ages_2012.head()

,Characterstics,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige poilitieke partijen,Niet gestemd
0,Totaal persoonskenmerken,6.0,19.0,20.0,2.0,7.0,2.0,8.0,6.0,5.0,25.0
1,Geslacht: mannen,6.0,17.0,21.0,1.0,7.0,2.0,9.0,6.0,4.0,26.0
2,Geslacht: vrouwen,6.0,20.0,19.0,2.0,7.0,3.0,6.0,6.0,5.0,25.0
3,Leeftijd: 18 tot 25 jaar,4.0,16.0,18.0,1.0,11.0,1.0,8.0,8.0,4.0,30.0
4,Leeftijd: 25 tot 35 jaar,1.0,18.0,19.0,2.0,5.0,2.0,7.0,9.0,4.0,33.0

In [81]:
votes_ages_2006['2010 Niet gestemd'] = votes_ages_2010['Niet gestemd']
votes_ages_2006.head(10)
votes_ages_2006['2012 Niet gestemd'] = votes_ages_2012['Niet gestemd']
votes_ages_2006.head(10)

,Characterstics,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige poilitieke partijen,Niet gestemd,2010 Niet gestemd,2012 Niet gestemd
0,Totaal persoonskenmerken,21.0,17.0,11.0,4.0,14.0,3.0,4.0,0,4.0,20.0,25.0,25.0
1,Mannen 18 jaar of ouder,21.0,17.0,12.0,3.0,13.0,2.0,5.0,0,4.0,21.0,26.0,26.0
2,Vrouwen 18 jaar of ouder,22.0,18.0,10.0,4.0,15.0,5.0,3.0,0,4.0,18.0,24.0,25.0
3,18 tot 25 jaar,17.0,15.0,11.0,5.0,12.0,3.0,6.0,0,3.0,29.0,41.0,30.0
4,25 tot 35 jaar,14.0,11.0,10.0,4.0,16.0,3.0,4.0,0,4.0,32.0,26.0,33.0
5,35 tot 45 jaar,20.0,17.0,15.0,4.0,14.0,3.0,3.0,0,3.0,21.0,18.0,25.0
6,45 tot 55 jaar,19.0,19.0,11.0,6.0,20.0,3.0,3.0,0,4.0,13.0,21.0,24.0
7,55 tot 65 jaar,23.0,22.0,12.0,2.0,13.0,4.0,5.0,0,4.0,14.0,21.0,17.0
8,65 tot 75 jaar,32.0,17.0,11.0,2.0,9.0,5.0,5.0,0,6.0,10.0,21.0,26.0
9,75 jaar of ouder,32.0,20.0,7.0,2.0,9.0,4.0,3.0,0,3.0,18.0,36.0,28.0

In [46]:
time_spend_online_2018 = pd.read_csv('Tijdbesteding-media-2018.csv', sep=';')

time_spend_online_2018

,Unnamed: 0,Luisteren,Kijken,Lezen,Communiceren,Gamen,Internet overig,Media overig
0,Totaal 13+,152,185,42,64,18,17,22
1,Man,170,186,44,62,22,20,25
2,Vrouw,133,184,41,66,14,14,18
3,13-34 jaar,134,146,17,92,27,19,26
4,35-49 jaar,166,163,30,60,16,17,28
5,50-64 jaar,172,209,48,57,16,19,21
6,65+ jaar,138,241,87,33,11,12,8
7,opleiding laag,166,230,42,43,13,8,10
8,opleiding midden,156,189,39,67,20,15,19
9,opleiding hoog,141,158,46,70,20,23,30

In [23]:
time_spend_online_extra = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';')

time_spend_online_extra.head()

# Important is to start with the colomn year and sort this on,
# as well as removing all the non important columns
# I already did both in numbers, but I coulnd't upload that file :(

,ID,KenmerkenPersonen,Marges,Perioden,ToegangTotInternet_1,TypeInternetverbindingBreedband_2,PersonalComputerPCOfDesktop_3,LaptopOfNetbook_4,Tablet_5,MobieleTelefoonOfSmartphone_6,...,VerkopenGoederenOfDiensten_61,AfspraakZiekenhuisGezondheidscentrum_62,CloudComputing_63,TekstSpreadsheetsPresentaties_64,FotoS_65,EBooksOfEMagazins_66,Muziek_67,VideoSFilmOfTvProgrammaS_68,AndereBestanden_69,BetalingVoorOpslaanVanBestanden_70
0,24,3000,MW00000,2012JJ00,93.7,83.8,75.4,75.4,NaN,60.9,...,22.5,9.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25,3000,MW00000,2013JJ00,94.4,85.6,73.2,75.8,46.2,69.8,...,21.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,3000,MW00000,2014JJ00,95.1,94.1,65.8,77.3,57.9,77.4,...,28.2,13.4,34.3,24.5,31.1,5.6,14.2,10.5,9.0,5.2
3,27,3000,MW00000,2015JJ00,95.0,93.0,62.2,78.2,65.7,79.9,...,29.2,14.9,36.8,23.9,31.9,5.4,12.5,10.7,13.7,4.9
4,28,3000,MW00000,2016JJ00,95.6,94.2,62.0,80.2,68.8,86.1,...,32.6,17.8,44.0,27.8,38.6,6.3,14.0,12.0,16.8,7.7

In [119]:

use_of_devices_amsterdam = pd.read_csv('Use of Devices 2012 - 2018.csv', sep=';', na_filter=False, usecols=[0,1,2,3])

# use_of_devices_amsterdam = pd.read_csv('Use of Devices 2012 - 2018.csv', sep=';', keep_default_na=False)

use_of_devices_amsterdam

,"8.8.2 Amsterdammers van 18 jaar en ouder met een tablet, laptop of vaste pc in het huishouden naar leeftijdsgroepen,",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,2012-2018 (procenten),,,
1,,,,
2,,tablet,laptop,vaste pc
3,,,,
4,2018,,,
5,18-24 jaar,54,92,49
6,25-34 jaar,56,93,36
7,35-54 jaar,71,89,52
8,55 jaar en ouder,54,66,52
9,,,,
10,Amsterdam 2018,61,84,47
11,Amsterdam 2016,62,84,48
12,Amsterdam 2014,52,75,51
13,Amsterdam 2012,32,74,54
14,,,,
15,,,,bron: OIS/De Staat van de Stad Amsterdam

In [130]:
use_of_devices_by_ages = pd.DataFrame()
use_of_devices_by_ages[['Tablet', 'Laptop', 'Pc']] = use_of_devices_amsterdam[['Unnamed: 1','Unnamed: 2','Unnamed: 3']]
use_of_devices_by_ages_drop = use_of_devices_by_ages.drop([0,1,2,3,4,9,10,11,12,13,14,15])
use_of_devices_by_ages_drop['AgeGroup'] = ['18-24 jaar', '25-34 jaar', '35-54 jaar', '55 jaar en ouder' ]
colnames1 = ['AgeGroup','Tablet','Laptop', 'Pc']
use_of_devices_by_ages_drop = use_of_devices_by_ages_drop.reindex(columns = colnames1)
use_of_devices_by_ages_drop = use_of_devices_by_ages_drop.reset_index(drop=True)
use_of_devices_by_ages_drop

           AgeGroup Tablet Laptop  Pc
0        18-24 jaar     54     92  49
1        25-34 jaar     56     93  36
2        35-54 jaar     71     89  52
3  55 jaar en ouder     54     66  52