In [18]:
import pandas as pd
import os
os.getcwd()

'/Users/michelle/Documents/Ironhack Project Amsterdam'

In [48]:
# Important is that these are votes for the European Parlement, meaning this is not the City Council election of Amsterdam
# I will try to find more information about earlier (2002 / 2004) and later (2016 / 2018) but we can make a start with this
# we need to see it as a trend of people, age, and voting within the Netherlands
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#:~:text=Read%20a%20comma%2Dseparated%20values,online%20docs%20for%20IO%20Tools.
# great site for parameters

votes_ages_2006 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_22_11_2006_25102020_181450.csv', skiprows=2, sep=';')

votes_ages_2006. head()

,,,,,,,,Unnamed: 0,Onderwerp
NaN,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,Overige poilitieke partijen,Niet gestemd
Persoonskenmerken,%,%,%,%,%,%,%,%,%
Totaal persoonskenmerken,21,17,11,4,14,3,4,4,20
Mannen 18 jaar of ouder,21,17,12,3,13,2,5,4,21
Vrouwen 18 jaar of ouder,22,18,10,4,15,5,3,4,18

In [47]:
votes_ages_2010 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_2010.csv', skiprows=2, sep=';')

votes_ages_2010.head()

,,,,,,,,,Unnamed: 0,Onderwerp
NaN,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige politieke partijen,Niet gestemd
Persoonskenmerken,%,%,%,%,%,%,%,%,%,%
Totaal,10,15,16,5,7,2,12,5,3,25
Geslacht: mannen,8,15,18,4,6,2,13,6,3,26
Geslacht: vrouwen,12,14,13,6,9,3,11,5,3,24

In [45]:
votes_ages_2012 = pd.read_csv('Stemgedrag_stemgerechtigden_Tweede_Kamerverkiezingen_2012.csv', skiprows=2, sep=';')

votes_ages_2012.head()

,,,,,,,,,Unnamed: 0,Onderwerp
NaN,CDA,PvdA,VVD,GroenLinks,SP,ChristenUnie,PVV,D66,Overige politieke partijen,Niet gestemd
Persoonskenmerken,%,%,%,%,%,%,%,%,%,%
Totaal persoonskenmerken,6,19,20,2,7,2,8,6,5,25
Geslacht: mannen,6,17,21,1,7,2,9,6,4,26
Geslacht: vrouwen,6,20,19,2,7,3,6,6,5,25

In [46]:
time_spend_online_2018 = pd.read_csv('Tijdbesteding-media-2018.csv', sep=';')

time_spend_online_2018

,Unnamed: 0,Luisteren,Kijken,Lezen,Communiceren,Gamen,Internet overig,Media overig
0,Totaal 13+,152,185,42,64,18,17,22
1,Man,170,186,44,62,22,20,25
2,Vrouw,133,184,41,66,14,14,18
3,13-34 jaar,134,146,17,92,27,19,26
4,35-49 jaar,166,163,30,60,16,17,28
5,50-64 jaar,172,209,48,57,16,19,21
6,65+ jaar,138,241,87,33,11,12,8
7,opleiding laag,166,230,42,43,13,8,10
8,opleiding midden,156,189,39,67,20,15,19
9,opleiding hoog,141,158,46,70,20,23,30

In [23]:
time_spend_online_extra = pd.read_csv('83429NED_TypedDataSet_25102020_173514.csv', sep=';')

time_spend_online_extra.head()

# Important is to start with the colomn year and sort this on,
# as well as removing all the non important columns
# I already did both in numbers, but I coulnd't upload that file :(

,ID,KenmerkenPersonen,Marges,Perioden,ToegangTotInternet_1,TypeInternetverbindingBreedband_2,PersonalComputerPCOfDesktop_3,LaptopOfNetbook_4,Tablet_5,MobieleTelefoonOfSmartphone_6,...,VerkopenGoederenOfDiensten_61,AfspraakZiekenhuisGezondheidscentrum_62,CloudComputing_63,TekstSpreadsheetsPresentaties_64,FotoS_65,EBooksOfEMagazins_66,Muziek_67,VideoSFilmOfTvProgrammaS_68,AndereBestanden_69,BetalingVoorOpslaanVanBestanden_70
0,24,3000,MW00000,2012JJ00,93.7,83.8,75.4,75.4,NaN,60.9,...,22.5,9.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25,3000,MW00000,2013JJ00,94.4,85.6,73.2,75.8,46.2,69.8,...,21.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,3000,MW00000,2014JJ00,95.1,94.1,65.8,77.3,57.9,77.4,...,28.2,13.4,34.3,24.5,31.1,5.6,14.2,10.5,9.0,5.2
3,27,3000,MW00000,2015JJ00,95.0,93.0,62.2,78.2,65.7,79.9,...,29.2,14.9,36.8,23.9,31.9,5.4,12.5,10.7,13.7,4.9
4,28,3000,MW00000,2016JJ00,95.6,94.2,62.0,80.2,68.8,86.1,...,32.6,17.8,44.0,27.8,38.6,6.3,14.0,12.0,16.8,7.7

In [69]:
use_of_devices_amsterdam = pd.read_csv('Use of Devices 2012 - 2018.csv', sep=';', na_filter=False, usecols=[0,1,2,3])

# use_of_devices_amsterdam = pd.read_csv('Use of Devices 2012 - 2018.csv', sep=';', keep_default_na=False)

use_of_devices_amsterdam

,"8.8.2 Amsterdammers van 18 jaar en ouder met een tablet, laptop of vaste pc in het huishouden naar leeftijdsgroepen,",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,2012-2018 (procenten),,,
1,,,,
2,,tablet,laptop,vaste pc
3,,,,
4,2018,,,
5,18-24 jaar,54,92,49
6,25-34 jaar,56,93,36
7,35-54 jaar,71,89,52
8,55 jaar en ouder,54,66,52
9,,,,
10,Amsterdam 2018,61,84,47
11,Amsterdam 2016,62,84,48
12,Amsterdam 2014,52,75,51
13,Amsterdam 2012,32,74,54
14,,,,
15,,,,bron: OIS/De Staat van de Stad Amsterdam